
.notBacklog {
    margin-top: 6px;
    border-radius: 5px;
    text-align: left;
    cursor: pointer;
    width: 260px;
    position: absolute;
    overflow: hidden;
}
.notBacklogTask {
    padding: 5px;
    background-color: #fff;
}
.notBacklogTask:hover {
    background-color: #DEDEDE;
}
.arrow{
    text-align: end;
    height: 20px;
}
.dropdownArrow {
    display: flex;
    justify-content: end;
    padding-right: 5px;
}
.rotateArrow{
    transform: rotateX(180deg);
}
.canAdd {
    cursor: pointer;
}