

*{
    margin: 0;
    padding: 0;
}
.header {
    display: flex;
    height: 55px;
    width: 100%;
    background-color: #0067A3;
    color: #fff;
}
h1 {
    font-size: 28px;
    line-height: 33px;
    font-weight: 400;
}
.container {
    min-width: 1240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    user-select: none;
}
.logIn {
    width: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.logo {
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    box-sizing: border-box;
    overflow: hidden;
    padding: 3px 1px 0;
}